/* Follow this design: https://www.figma.com/file/epLeveAuVkKAOdM9TXk9Yn/Random-Password-Generator-(New-version)-(Copy) */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 120px 50px;
    display: grid;
    width: 100%;
    height: 100vh;
    place-content: center;
    background: hsl(215, 28%, 17%);
    color: #d5d4d8;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

button {
	border: 0;
	outline: 0;
}

h1{
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    letter-spacing: -2.5%;
    line-height: 40px;
    margin: 0;
}

span{
    color: #4ADF86
}

.btn{
    background: #10B981;
    color: white;
    padding: 9px 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-generate {
    margin-top: 25px;
}

hr{
    border: 1px solid #2F3E53;
    margin: 35px 0;
}

.row{
    display: flex;
    // justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: .25em;
}

/* .utilityblueborder{
    border: 1px dotted blue;
} */

#password-el{
    font-size: 18px;
    width: 200px;
    min-height: 28px;
    text-align: center;
    background: #273549;
    color: #55F991;
    padding: 8px;
    border-radius: 6px;
    border: 0;
    outline: none;
    cursor: auto;
}

.btn-copy {
    font-size: 18px;
}

.copied {
    font-size: 12px;
    pointer-events:none;
}

label {
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 300px;
    margin: 15px auto 0;
}

.setting-length {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 300px;
    margin: 15px auto 0;
}

@media (min-width:550px) {
    body{
        background: #1C1C1C;
    }

    .container{
        min-width: 550px;
        margin: 0 auto;
        background: hsl(215, 28%, 17%);
        padding: 64px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    }
}

/** FF*/
input[type='range'] {
    background-color: transparent;
}
input[type="range"]::-moz-range-progress {
    background-color: #10B981; 
}
input[type="range"]::-moz-range-track {  
    background-color: #d5d4d8;
}

